body {
    font-family: Arial, Helvetica, Helvetica;
    text-align: center;
    background-color: rgb();
}
h1 {
    color: rgb(242, 17, 112);
}

h2 {
    color: rgb(114, 20, 126);
}

h3 {
    color: rgb(250, 153, 5);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li last-child {
    margin-right: 0;
}

main ul,
ol.instruments li {
    list-style-position: inside;
}
ol.instruments li {
    margin-bottom: 20px;
}

.about-us{
    text-align: left;
}

.about-us h2 {
    text-align: center;
}